{% extends 'accounts/base_accounts.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

    {% block header %}
        <h2 class="text-center logo my-4">Регистрация</h2>
    {% endblock header %}

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">

    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary ">Создайте аккаунт</button>
    {% endbuttons %}

    <input type="hidden" name="next"
           value="{% url 'python4bear:home' %}" />
    </form>
           </div>
        <div class="card-footer text-muted text-center">
          Уже есть аккаунт? <a href="{% url 'accounts:login' %}">Вход</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}