{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">#}

    <title>{% block title %}Python4Bear{% endblock title%}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">

    {% block stylesheet %}
    {#  создаем блок для того чтобы цсс поменять в акаунте  #}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% endblock stylesheet%}
    {% bootstrap_css %}

{% block JS %}
   <!-- jQuery -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- IE10 viewport bug workaround -->
	<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	<!-- Placeholder Images -->
	<script src="{% static 'js/holder.min.js' %}"></script>
{% endblock JS %}


</head>

<body>
{% block body %}  <!-- HERE -->


    <!-- Hавигационный бар... -->
<nav class="navbar navbar-inverse">
<div class="container">
<div class="container-fluid">

<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'python4bear:hell' %}">Python4Bear</a>
</div>

<!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse" id="alignment-example">

<!-- Links -->
<ul class="nav navbar-nav">

<li class="active"><div class="btn-group">
	 <a class="navbar-brand " href="{% url 'python4bear:home' %}">Shards</a>
  </div></li>
<li class="active"><div class="btn-group">
	 <a class="navbar-brand " href="{% url "images:list" %}">Images</a>
  </div></li>
<li class="active"><div class="btn-group">
	 <a class="navbar-brand " href="{% url "accounts:user_list" %}">People</a>
  </div></li>
<li class="active"><div class="btn-group">
	 <a class="navbar-brand " href="{% url 'accounts:track' %}">Track</a>
  </div></li>

{% if user.is_authenticated %}
  <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Привет, {{ user.username }}!<span class="caret"></span></a>
<ul class="dropdown-menu" aria-labelledby="about-us">
<li><a class="dropdown-item" href="{% url 'accounts:my_account' %}">ред. аккаунд</a></li>
<li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Выход</a></li>
</ul>
</li>
   {% else %}
   <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Привет, чужой!<span class="caret"></span></a>
<ul class="dropdown-menu" aria-labelledby="about-us">
    {#  для того что бы был адекватный переход и не вызывались ошибки, маст хев или нет не знаю, но работает.#}
<li><a class="dropdown-item" href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">Вход</a></li>
<li><a class="dropdown-item" href="{% url 'accounts:signup' %}?next={{ request.get_full_path|urlencode }}">Регистрация</a></li>
</ul>
</li>
{% endif %}

</ul>

<!-- Search -->

<form action="{% url 'search:index' %}" class="navbar-form navbar-right" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control  input-sm" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default  input-sm">{% bootstrap_icon 'search' %}</button>
        </span>
    </div>
</form>



</div>
</div>
</div>
</nav>

  <!-- /Hавигационный бар!! -->

<div class="container">
  <ol class="breadcrumb my-4">
    {% block sidebar %}
    {% endblock sidebar%}
  </ol>
    {% block content %}
    {% endblock content%}
</div>

{% block footer %}


{% endblock footer %}
    <footer class="commentclin">
        <div class="small-footer">
        	<div class="container">
                <hr>
        		<p>

                    <a href="https://www.python.org" target="_blank">Python 3.6</a> |
                    <a href="https://www.djangoproject.com" target="_blank">Django 1.11</a> |
                    <a href="https://vk.com/id18127193" target="_blank">Contact My</a>
                     </p>


        		<p><small class="text-muted d-block">
                    <a class="btn btn-default btn-xs" href="{% url "python4bear:post_feed" %}" title="RSS">RSS</a>

                    <a href="https://github.com/dimon1986" target="_blank"
           class="btn btn-default btn-xs" role="button" title="ImGit">ImGit</a>

                    Copyright &copy; Dimon & Sony 2018
                </small></p>


        	</div>
        </div>
	</footer>

{% endblock body %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // эти методы HTTP не требуют защиты CSRF
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
		});
    </script>
</body>
</html>