{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Bear{% endblock title%}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock stylesheet%}

</head>

<body>
{% block body %}  <!-- HERE -->

<nav class="navbar navbar-inverse navbar-dark bg-dark">

<div class="container">
<a class="navbar-brand" href="{% url 'python4bear:home' %}">Python4Bear</a>

 <!--Название сайта и кнопка раскрытия меню для мобильных-->
 <div class="navbar-header">

 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 </div>


<!--/.nav-collapse -->

 <!--Само меню-->



<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">


    <!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Статьи
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Django</a>
    <a class="dropdown-item" href="#">PyGame</a>
    <a class="dropdown-item" href="#">PyQt5</a>
  </div>
</div>

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Контакты
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Портфолио</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">ЧАТ</a>
  </div>
</div>

    <!-- Single button -->
{% if user.is_authenticated %}
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Привет, {{ user.username }}!
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'accounts:my_account' %}">Мой аккаунд</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выход</a>
  </div>
    {% else %}
    <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Привет, чужой!
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'accounts:login' %}">Вход</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'accounts:signup' %}">Регистрация</a>
  </div>
    {% endif %}
</div>


    <form class="navbar-form navbar-right" role="search">
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Поиск на сайте">
  </div>
  <button type="submit" class="btn btn-primary "><span class = "glyphicon glyphicon-search"></span> Искать</button>
 </form>


</div><!-- /.navbar-collapse -->
</div>
</div>
</nav><!-- /навигационный бар... -->

<div class="container">
  <ol class="breadcrumb my-4">
    {% block sidebar %}
    {% endblock sidebar%}
  </ol>

    {% block content %}
    {% endblock content%}
</div>

{% endblock body %}

{% bootstrap_javascript %}
{% block JS %}

{% endblock JS %}

</body>
</html>