{% extends 'python4bear/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Start a New Post{% endblock %}


{% block sidebar %}
  <li class="breadcrumb-item"><a href="{% url 'python4bear:home' %}">Topics</a></li>
  <li class="breadcrumb-item"><a href="{% url 'python4bear:posts_all' topic.pk %}">{{ topic }}</a></li>
  <li class="breadcrumb-item active">New Post</li>
{% endblock sidebar%}

{% block content %}

  <p>Новый пост:</p>

  <form action="{% url 'python4bear:new_post' topic.pk %}" method='post'>
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button name='submit' class="btn btn-primary">Добавить</button>
  </form>

{% endblock content%}