.navbar-brand {
  font-family: 'Peralta', cursive !important;
}

.table-fon tr:first-of-type{
     background: #343A40;
     color: white ;
}
.table-fon, tr:nth-child(odd){
  background: #f7f7f7;

}


.table-fon, td{
    width: 200px;
    margin: 20px auto;
    border: 2px solid rgba(68, 172, 250, 0.1);
    border-collapse: collapse;
    padding: 5px;
}

.pagessdlink{
    background: greenyellow;
}

.hollitexst{
    overflow: hidden;
    word-wrap: break-word;
    float: right

}

.kartinka{
    float:left;
    padding-right: 20px;
}

.btn-default{
   background-color: #E6E6E6 ;
    color: #337AB7 ;
    margin-bottom: 10px ;

}

.btn-default:hover{
    color: #23527C ;
}

.commentclin{
    clear:both;
    padding-top: 20px;
}

.bottom-img{
    margin-bottom: 20px ;
    display: inline-block;
}
