
Привет чувак/чувиха!(нужное поддчеркнуть),

Кто-то попросил сбросить пароль для адреса электронной почты {{ email }}. Перейдите по ссылке ниже задайте новый пароль:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

В случае, если вы забыли своё имя(вобще такое возможно?) пользователя: {{ user.get_username }}

Если ссылка выше не работает, скопируйте и вставьте URL-адрес в новое окно браузера.

Если вы получили это сообщение по ошибке, вероятно, что другой пользователь ввел ваш адрес электронной почты по ошибке при попытке
для сброса пароля. Если Вы не инициировали запрос, вам не нужно предпринимать никаких дальнейших действий и можно смело
игнорировать это письмо.

Спасибо и хорошего дня,

Всегда ваш админ! :))
