{% extends 'accounts/base_accounts.html' %}
{% load bootstrap3 %}

{% block title %}Change password successful{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:password_change' %}">Смена пороля</a></li>
  <li class="breadcrumb-item active">Удача!Получилось:)</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Удача!Получилось:)</strong> Вашь пароль изменён на новый!
  </div>
  <a href="{% url 'python4bear:home' %}" class="btn btn-secondary">Вернуться на главную</a>
{% endblock %}
