{% extends 'accounts/base_accounts.html' %}
{% load bootstrap3 %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Смена пароля</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">

        <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-success">Сменить пароль</button>
         <input type="hidden" name="next" value="{% url 'accounts:password_change_done' %}"/>
      </form>

    </div>
  </div>
{% endblock %}
