{% extends "accounts/base_accounts.html" %}
{% load bootstrap3 %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Изменение пароля для @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-success btn-block">Изменение пароля</button>
            </form>
          {% else %}
            <h3 class="card-title">Сброс пароля</h3>
            <div class="alert alert-danger" role="alert">
              Похоже, вы нажали на недопустимую ссылку для сброса пароля. Попробуйте еще раз.
            </div>
            <a href="{% url 'accounts:password_reset' %}" class="btn btn-secondary btn-block">Запросить новую ссылку для сброса пароля</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
